#box1{
    height: 100px;
    width: 100px;
    background: green;
    font-size: 10px;
}
#box2{
    height: 50%;
    width: 50%;
    background: yellow;
    margin-left:5%;
    font-size: 2em;
    width: 5vw;
    height: 10vh;
    /* % of width(parent) is taken for margin also */
}
/* Relative nature  % for width, em for font-size 
,vh for screen height,vw for screen width*/