body{
    text-align: center;
}

div{
    height: 50px;
    width: 50px;
    display: inline-block;
    border: 2px solid black;
}

#container{
    width: 800px;
    height: 600px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* centre,space-,flex- options for justify-content; */
    /* flex-wrap: wrap; */
    align-items: center;
    /* align-content: center; */
}
#box1{
    background-color:aqua ;
    align-self: flex-end;   
    flex-shrink:0;
    flex-grow: 1;
}
#box2{
    background-color:pink ;
    height: 100px;
    flex-grow: 2;
}
#box3{
    background-color: darkkhaki;
    height: 40px;
}
#box4{
    background-color:indianred ;
}
#box5{
    background-color:slateblue ;
}

