ul{
    background-color: pink;
    display: flex;
    justify-content: space-around;
}
a{
    text-decoration: none;
    color: black;
    background-color: blueviolet;
}
li{
    list-style-type: none;
    /* display: inline; */
}

.outer{
    background-color: cornflowerblue;
    height: 400px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inner{
    height: 100px;
    width: 100px;
    background-color: darkorchid;
}

@media(max-width : 600px){
    .outer{
        background-color: wheat;
    }
}